body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #011638;
  color: white;
  text-align: center;
  padding: 1rem;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

form {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

label, input, select, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #214E34;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#lastModified {
  color: #ffe600;
}