@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@font-face{
    font-family: Alata;
    src: url("Alaba-Regular.ttf");
}

:root {
    --primary-color: #141415;
    --secondary-color: #214E34;
    --accent1-color: #364156;
    --accent2-color: #C3C2C2;

    --heading-font: 'Alata', serif;
    --paragraph-font: 'Alata', serif;

    --nav-background-color: #011638;
    --nav-link-color: #d3cece;
    --nav-hover-link-color: #7c7d7e;
    --nav-hover-background-color: #031518;
}      